@import 'tailwindcss';

:root {
  --background: #ffffff;
  --color-primary: #267dab;
  --color-secondary: #312483;
  --color-secondary-faded: rgba(49, 36, 131, 0.8);
  --color-background: #f4f4f8;
  --color-border: #e6e6ea;
  --color-btn-hover: #2a5e9d;
  --color-text: #242424;
  --color-paragraph: #575757;
  --color-light: #fff;
  --color-anchor: #1c7b87;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--color-text);
  font-family: var(--font-baloo-2), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas-neue), Arial, Helvetica, sans-serif;
}

.banner-img {
  background: url('/banner.webp') center / cover no-repeat;
}
