@import 'tailwindcss';

:root {
  --color-primary: #267dab;
  --color-secondary: #312483;
  --color-secondary-faded: rgba(49, 36, 131, 0.8);
  --color-background: #f4f4f8;
  --color-border: #e6e6ea;
  --color-btn-hover: #2a5e9d;
  --color-text: #242424;
  --color-paragraph: #575757;
  --color-light: #fff;
  --color-anchor: #1c7b87;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-baloo-2), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas-neue), Arial, Helvetica, sans-serif;
}

.banner-img {
  background: url('/banner.webp') center / cover no-repeat;
}

.nav-gradient {
  background: linear-gradient(90deg, #0391b8 0%, #101865 100%);
  background-size: 200% 200%;
  animation: gradientShift 8s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-list {
  font-size: 1.05rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
